{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block header %}
    <div class="masthead">
        <h1>La site numéro 1 sur le snow</h1>
        <a href="#main" id="scroll" title="Voir plus"><i class="icofont-rounded-down"></i></a>
    </div>
{% endblock %}

{% block content %}

    <div class="mb-5 mt-5"></div>
    <div style="height: 2000px; width: 100%; background-color: #ff0;">
    </div>

{% endblock %}