<header id="navTop">
    <a href="./index.html" class="nav-brand">
        <img 
            src="{{ asset('assets/img/logo.png') }}" 
            alt="Logo du site" 
            srcset="{{ asset('assets/img/logo.png') }}"
            class="nav-logo"
        >
    </a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="./index.html">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./trick.html">Tricks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./login.html">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./register.html">Sign up</a>
        </li>
    </ul>
</header>