{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe {% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Connexion</h1>
    <form method="post" id="auth-form">
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Confirmer votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="token" value="{{ token }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn btn-primary" type="submit">
            Envoyer
        </button>
    </form>
{% endblock %}

{% block javascripts %}    
    <!-- Axios Ajax library Js File --> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('assets/js/form.js') }}"></script>
    <script src="{{ asset('assets/js/ajax.js') }}"></script>
{% endblock %}
