{% extends "base.html.twig" %}

{% block content %}
    <h4>Votre compte a bien été validé ✅.</h4> 
    <p>Cliquer sur ce <a href="{{ path('home') }}">lien </a> pour vous rendre sur le site.</p>
{% endblock %}